@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    text-align: center;
    font-family: 'Lobster', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px;
    font-family: 'Lobster', cursive;
    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.482);
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #000000;
    border-radius: 50px;
    transition: 1s all;
    color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.326);
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.block {
    background-color: black;
    width: 20px;
    height: 20px;
}

.snake {
    background-color: white;
    width: 20px;
    height: 20px;
}

.apple {
    background-color: greenyellow;
    width: 20px;
    height: 20px;
}

.fooo {
    background-color: greenyellow;
    width: 20px;
    height: 20px;
}
